{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Продукты питания</title>
    {% endif %}

</head>
<body>
<!-- header -->
<header class="site-header">
    <nav class="navbar">
        <div class="container">
            <img src="{% static 'img/logo1.png' %}">
            <div class="navbar-navs">

                <a class="nav-link" href="{% url 'blog-home' %}">Главная</a>
                <a class="nav-link" href="{% url 'reviews' %}">Отзывы</a>
            </div>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">Вход</a>
                <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
{% block content %}{% endblock %}
<!-- Футер -->
<footer class="text-center bg-dark">
    <p><a href="{% url 'blog-home' %}">Курсовая работа на тему “Разработка сайта для организации, занимающейся продажей
        продуктами питания” Выполнила Замиралова Яна Олеговна</a></p>
</footer>

<!-- Дополнительные скрипты JavaScript -->
<!-- Сначала jQuery, затем Popper.js, последним Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>